In [63]:
import numpy as np
import pandas as pd

In [64]:
match=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

In [65]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [66]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [67]:
delivery.groupby(['match_id','inning']).sum()

                                                      batting_team  \
match_id inning
1        1       Sunrisers HyderabadSunrisers HyderabadSunriser...
         2       Royal Challengers BangaloreRoyal Challengers B...
2        1       Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
         2       Rising Pune SupergiantRising Pune SupergiantRi...
3        1       Gujarat LionsGujarat LionsGujarat LionsGujarat...
...                                                            ...
11413    2       Delhi CapitalsDelhi CapitalsDelhi CapitalsDelh...
11414    1       Delhi CapitalsDelhi CapitalsDelhi CapitalsDelh...
         2       Chennai Super KingsChennai Super KingsChennai ...
11415    1       Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
         2       Chennai Super KingsChennai Super KingsChennai ...

                                                      bowling_team  over  \
match_id inning
1        1       Royal Challengers BangaloreRoyal Challengers B...  1312
         2       Sunrisers HyderabadSunrisers HyderabadSunriser...  1259
2        1       Rising Pune SupergiantRising Pune SupergiantRi...  1323
         2       Mumbai IndiansMumbai IndiansMumbai IndiansMumb...  1270
3        1       Kolkata Knight RidersKolkata Knight RidersKolk...  1280
...                                                            ...   ...
11413    2       Sunrisers HyderabadSunrisers HyderabadSunriser...  1301
11414    1       Chennai Super KingsChennai Super KingsChennai ...  1294
         2       Delhi CapitalsDelhi CapitalsDelhi CapitalsDelh...  1160
11415    1       Chennai Super KingsChennai Super KingsChennai ...  1287
         2       Mumbai IndiansMumbai IndiansMumbai IndiansMumb...  1295

                 ball                                            batsman  \
match_id inning
1        1        456  DA WarnerDA WarnerDA WarnerDA WarnerDA WarnerS...
         2        444  CH GayleMandeep SinghMandeep SinghMandeep Sing...
2        1        455  PA PatelPA PatelPA PatelJC ButtlerPA PatelPA P...
         2        435  AM RahaneMA AgarwalMA AgarwalMA AgarwalAM Raha...
3        1        434  JJ RoyJJ RoyJJ RoyJJ RoyJJ RoyJJ RoyBB McCullu...
...               ...                                                ...
11413    2        448  P ShawP ShawS DhawanS DhawanS DhawanP ShawS Dh...
11414    1        441  P ShawP ShawP ShawP ShawP ShawS DhawanP ShawS ...
         2        413  F du PlessisF du PlessisF du PlessisSR WatsonS...
11415    1        447  Q de KockRG SharmaQ de KockQ de KockQ de KockQ...
         2        448  F du PlessisF du PlessisF du PlessisF du Pless...

                                                       non_striker  \
match_id inning
1        1       S DhawanS DhawanS DhawanS DhawanS DhawanDA War...
         2       Mandeep SinghCH GayleCH GayleCH GayleCH GayleC...
2        1       JC ButtlerJC ButtlerJC ButtlerPA PatelJC Buttl...
         2       MA AgarwalAM RahaneAM RahaneAM RahaneMA Agarwa...
3        1       BB McCullumBB McCullumBB McCullumBB McCullumBB...
...                                                            ...
11413    2       S DhawanS DhawanP ShawP ShawP ShawS DhawanP Sh...
11414    1       S DhawanS DhawanS DhawanS DhawanS DhawanP Shaw...
         2       SR WatsonSR WatsonSR WatsonF du PlessisF du Pl...
11415    1       RG SharmaQ de KockRG SharmaRG SharmaRG SharmaR...
         2       SR WatsonSR WatsonSR WatsonSR WatsonF du Pless...

                                                            bowler  \
match_id inning
1        1       TS MillsTS MillsTS MillsTS MillsTS MillsTS Mil...
         2       A NehraA NehraA NehraA NehraA NehraA NehraB Ku...
2        1       AB DindaAB DindaAB DindaAB DindaAB DindaAB Din...
         2       TG SoutheeTG SoutheeTG SoutheeTG SoutheeTG Sou...
3        1       TA BoultTA BoultTA BoultTA BoultTA BoultTA Bou...
...                                                            ...
11413    2       B KumarB KumarB KumarB KumarB KumarB KumarMoha...
11414    1       DL ChaharDL ChaharDL ChaharDL ChaharDL ChaharD...
         2       TA BoultTA BoultTA BoultTA BoultTA BoultTA Bou...
11415    1       DL ChaharDL ChaharDL ChaharDL ChaharDL ChaharD...
         2       MJ McClenaghanMJ McClenaghanMJ McClenaghanMJ M...

                 is_super_over  wide_runs  bye_runs  legbye_runs  noball_runs  \
match_id inning
1        1                   0          5         0            1            1
         2                   0          4         0            1            1
2        1                   0          6         1            1            0
         2                   0          3         0            1            0
3        1                   0          2         0            2            0
...                        ...        ...       ...          ...          ...
11413    2                   0          4         1            0            0
11414    1                   0          2         0            5            1
         2                   0          6         0            5            0
11415    1                   0          3         0            0            0
         2                   0          4         5            0            0

                 penalty_runs  batsman_runs  extra_runs  total_runs  \
match_id inning
1        1                  0           200           7         207
         2                  0           166           6         172
2        1                  0           176           8         184
         2                  0           183           4         187
3        1                  0           179           4         183
...                       ...           ...         ...         ...
11413    2                  0           165           5         170
11414    1                  0           147           8         155
         2                  0           151          11         162
11415    1                  0           149           3         152
         2                  0           148           9         157

                                                  player_dismissed  \
match_id inning
1        1               DA WarnerS DhawanMC HenriquesYuvraj Singh
         2       Mandeep SinghCH GayleKM JadhavTM HeadSachin Ba...
2        1       PA PatelRG SharmaJC ButtlerAT RayuduKH PandyaN...
         2                            MA AgarwalAM RahaneBA Stokes
3        1                     JJ RoyBB McCullumAJ FinchKD Karthik
...                                                            ...
11413    2       SS IyerP ShawC MunroAR PatelS RutherfordRR Pan...
11414    1       P ShawS DhawanC MunroSS IyerAR PatelS Rutherfo...
         2                   F du PlessisSR WatsonSK RainaMS Dhoni
11415    1       Q de KockRG SharmaAS YadavKH PandyaIshan Kisha...
         2       F du PlessisSK RainaAT RayuduMS DhoniDJ BravoS...

                                                    dismissal_kind  \
match_id inning
1        1                                caughtcaughtcaughtbowled
         2       bowledcaughtrun outcaughtcaughtcaughtcaughtbow...
2        1       bowledbowledlbwcaught and bowledcaughtcaughtca...
         2                                      caughtcaughtcaught
3        1                                   caughtlbwcaughtcaught
...                                                            ...
11413    2       caughtcaughtlbwcaughtcaughtcaughtobstructing t...
11414    1       lbwcaughtcaughtcaughtcaughtcaughtbowledcaughtb...
         2                                caughtcaughtbowledcaught
11415    1          caughtcaughtbowledcaughtcaughtlbwcaughtrun out
         2                 stumpedlbwcaughtrun outcaughtrun outlbw

                                                           fielder
match_id inning
1        1                     Mandeep SinghSachin BabySachin Baby
         2       DA WarnerBCJ CuttingYuvraj SinghMC HenriquesYu...
2        1                      MS DhoniR BhatiaMA AgarwalMS Dhoni
         2                               RG SharmaN RanaTG Southee
3        1                     YK PathanKuldeep YadavKuldeep Yadav
...                                                            ...
11413    2       WP SahaV ShankarWP SahaMohammad NabiMohammad Nabi
11414    1       MS DhoniDJ BravoSK RainaImran TahirSR WatsonDJ...
         2                                    K PaulTA BoultK Paul
11415    1       MS DhoniMS DhoniSN ThakurSK RainaF du PlessisF...
         2        Q de KockQ de KockIshan KishanQ de KockKH Pandya

[1528 rows x 19 columns]

In [68]:
total_score_df=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [69]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [70]:
total_score_df=total_score_df[total_score_df['inning']==1]

In [71]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [72]:
match_df=match.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [73]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152

In [74]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [75]:
teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals'
]

In [76]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [77]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [78]:
match_df.shape

(641, 20)

In [79]:
match_df = match_df[match_df['dl_applied'] == 0]

In [80]:
match_df = match_df[['match_id','city','winner','total_runs']]

In [81]:
delivery_df=match_df.merge(delivery,on='match_id')

In [82]:
delivery_df=delivery_df[delivery_df['inning']==2]

In [83]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,0,0,1,0,1,NaN,NaN,NaN
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,0,0,2,0,2,NaN,NaN,NaN
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149573,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149574,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149575,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
149576,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149577,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [84]:
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [85]:
delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']

In [86]:
delivery_df['balls_left']=126-(delivery_df['over']*6 +delivery_df['ball'])

In [87]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,NaN,NaN,NaN,1,206,119
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,206,118
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,NaN,1,206,117
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,2,NaN,NaN,NaN,3,204,116
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,4,NaN,NaN,NaN,7,200,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149573,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,1,NaN,NaN,NaN,152,0,4
149574,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,2,NaN,NaN,NaN,154,-2,3
149575,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,0,1,SR Watson,run out,KH Pandya,155,-3,2
149576,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,2,NaN,NaN,NaN,157,-5,1
149577,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,SN Thakur,lbw,NaN,157,-5,0

In [88]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('match_id')['player_dismissed'].cumsum()
delivery_df['wickets_left'] = 10 - wickets
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,0,NaN,NaN,1,206,119,10
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,206,118,10
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,NaN,NaN,1,206,117,10
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,2,0,NaN,NaN,3,204,116,10
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,4,0,NaN,NaN,7,200,115,10

In [89]:
# crr = runs/overs
delivery_df['crr']=(delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [90]:
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [91]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [93]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [94]:
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,crr,rrr,result
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,NaN,NaN,1,206,119,10,6.0,10.386555,0
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,NaN,NaN,1,206,118,10,3.0,10.474576,0
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,NaN,NaN,1,206,117,10,2.0,10.564103,0
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,NaN,NaN,3,204,116,10,4.5,10.551724,0
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,NaN,NaN,7,200,115,10,8.4,10.434783,0

In [96]:
final_df = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x','crr','rrr','result']]

In [98]:
final_df.sample(10)

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
123544,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata,137,112,10,145,6.000000,7.339286,1
134442,Chennai Super Kings,Sunrisers Hyderabad,Mumbai,108,77,7,148,5.581395,8.415584,1
112451,Chennai Super Kings,Kings XI Punjab,Chandigarh,59,65,8,130,7.745455,5.446154,1
94476,Kolkata Knight Riders,Kings XI Punjab,Cuttack,15,22,9,149,8.204082,4.090909,1
116388,Mumbai Indians,Delhi Daredevils,Delhi,52,31,6,164,7.550562,10.064516,0
27168,Rajasthan Royals,Royal Challengers Bangalore,Centurion,62,72,9,105,5.375000,5.166667,1
115117,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,134,113,10,142,6.857143,7.115044,1
93155,Kolkata Knight Riders,Delhi Daredevils,Delhi,154,112,10,160,4.500000,8.250000,1
37119,Chennai Super Kings,Kings XI Punjab,Chennai,65,62,9,136,7.344828,6.290323,0
42312,Mumbai Indians,Chennai Super Kings,Chennai,61,23,3,165,6.432990,15.913043,0

In [99]:
final_df = final_df.sample(final_df.shape[0])

In [100]:
final_df.dropna(inplace=True)

In [101]:
final_df = final_df[final_df['balls_left'] != 0]

In [102]:
final_df.sample(10)

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
123050,Royal Challengers Bangalore,Kings XI Punjab,Bengaluru,160,119,10,161,6.000000,8.067227,1
107162,Delhi Daredevils,Kolkata Knight Riders,Kolkata,171,118,10,171,0.000000,8.694915,0
123126,Royal Challengers Bangalore,Kings XI Punjab,Bengaluru,66,43,6,161,7.402597,9.209302,1
18442,Chennai Super Kings,Rajasthan Royals,Chennai,177,102,9,211,11.333333,10.411765,0
94870,Mumbai Indians,Sunrisers Hyderabad,Hyderabad,149,103,9,157,2.823529,8.679612,1
50856,Delhi Daredevils,Deccan Chargers,Delhi,57,25,5,168,7.010526,13.680000,0
147802,Delhi Capitals,Rajasthan Royals,Delhi,116,112,10,124,6.000000,6.214286,1
134420,Chennai Super Kings,Sunrisers Hyderabad,Mumbai,123,99,8,148,7.142857,7.454545,1
95111,Chennai Super Kings,Rajasthan Royals,Ranchi,116,101,9,148,10.105263,6.891089,1
21245,Royal Challengers Bangalore,Deccan Chargers,Cape Town,173,112,9,184,8.250000,9.267857,0

In [103]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [104]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
52850,Rajasthan Royals,Mumbai Indians,Jaipur,7,20,8,94,5.220000,2.100000
63516,Kings XI Punjab,Mumbai Indians,Mumbai,44,30,8,163,7.933333,8.800000
118573,Mumbai Indians,Sunrisers Hyderabad,Visakhapatnam,94,34,1,177,5.790698,16.588235
49380,Kings XI Punjab,Chennai Super Kings,Chandigarh,169,104,10,188,7.125000,9.750000
134698,Rajasthan Royals,Kolkata Knight Riders,Kolkata,103,65,9,179,8.290909,9.507692
...,...,...,...,...,...,...,...,...,...
6496,Kolkata Knight Riders,Mumbai Indians,Kolkata,120,86,8,173,9.352941,8.372093
101430,Kings XI Punjab,Rajasthan Royals,Pune,65,38,5,162,7.097561,10.263158
82854,Delhi Daredevils,Royal Challengers Bangalore,Delhi,30,7,4,183,8.123894,25.714286
49689,Royal Challengers Bangalore,Deccan Chargers,Hyderabad,94,38,5,175,5.926829,14.842105
133909,Mumbai Indians,Delhi Daredevils,Delhi,172,111,9,186,9.333333,9.297297

In [105]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
                      ],remainder='passthrough')

In [106]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [107]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [108]:
pipe.fit(X_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [109]:
y_pred = pipe.predict(X_test)

In [110]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8061531992431145

In [111]:
pipe.predict_proba(X_test)[10]

array([0.41619083, 0.58380917])

In [112]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [113]:
delivery_df['city'].unique()

array(['Hyderabad', 'Bangalore', 'Mumbai', 'Indore', 'Kolkata', 'Delhi',
       'Chandigarh', 'Jaipur', 'Chennai', 'Cape Town', 'Port Elizabeth',
       'Durban', 'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi',
       'Sharjah', nan, 'Mohali', 'Bengaluru'], dtype=object)

In [114]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))